{% extends "base.html" %}
{% block title %}Create{% endblock %}


{% block content %}

<script>
function validateForm() {
    var mName = $('#stream_name').val();
    var mMsg = $('#stream_msg').val();
    var mCover_url = $('#stream_url').val();
    var mTags = $('#stream_tags').val();
    var mSubscribers = $('#stream_subscribers').val();


    if (mName === ''){
        toastr.error('Stream name cannot be empty');
        return false;
    }

    return true;

}





</script>

<!--<div id="alert"></div>-->
<div class="panel panel-default">
    <div class="panel-heading">Create a Connexus Stream</div>
    <div class="panel-body">
        <form id="createForm" action="/create" method="post" onsubmit="return validateForm()">
            <div class="form-group col-md-6">
                <input type="text" id="stream_name" name="name" class="form-control" placeholder="My Little Pony">

                <label>Name your stream</label>
            </div>
            <div class="form-group col-md-6">
                <textarea id="stream_tags" class="form-control" name="tags" rows="3" placeholder="#AppleJack, #2014, #Friendship"></textarea>

                <label>Tag your stream (comma separated)</label>
            </div>
            <div class="form-group col-md-6">
                <textarea id="stream_subscribers" class="form-control" name="subscribers" rows="3" placeholder="subscriber1@example.com, subscriber2@example.com, subscriber3@example.com"></textarea>

                <div style="margin-top: 10px;"></div>
                <textarea id="stream_msg" class="form-control" name="msg" rows="3" placeholder="Optional message for invitation"></textarea>

                <label>Add subscribers*</label>
            </div>
            <div class="form-group col-md-6">
                <input type="text" id="stream_url" class="form-control" name ="cover_url" placeholder="http://flickr.com/image.png">

                <label>URL to cover image (optional)</label>
            </div>
            <div class="form-group col-md-12">
                <button type="submit" id="create_btn" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Create Stream</button>

            </div>
        </form>
    </div>
</div>
{% endblock %}
