{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
  <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '540079769478716',
          xfbml      : true,
          version    : 'v2.4'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
   </script>
  <div class="jumbotron">
    <div class="container">
        {% if user %}
                <div class="panel-body">
                <div><h1 id="mast_header_hasUser"><strong> Hi {{ user.email() }} <br>Welcome to Connexus! </strong> </h1></div>
                <div>
                      <button type="submit" onclick="location.href = '{{log_url}}'">
                          {{ log_url_linktext }}
                      </button>
                </div>
                </div>
              {% else %}
                <div class="panel-body">
                <div><h1 id="mast_header_noUser"> <strong> Welcome to Connexus! </strong> </h1></div>
                <div>
                      <button type="submit" onclick="location.href = '{{log_url}}'">
                          {{ log_url_linktext }}
                      </button>
                </div>
                </div>
              {% endif %}
    </div>
  </div>
{% endblock %}
