{% extends "base.html" %}
{% block title %}Manage{% endblock %}
{% block content %}
<div id="alert">
</div>

<div class="panel panel-default">
    <div class="panel-heading">Streams I Own</div>
        <div class="panel-body">
            {% if myStreamList %}



            {% else %}
                You do not have any streams yet. Create some now!
                <button type="submit" onclick="location.href = '/create'">
                    Create Stream
                </button>
            {% endif %}
        </div>
    <div class="panel panel-default">
        <div class="panel-heading">Streams I Subscribe to</div>
        <div class="panel-body">
            {% if subscribeStreamList %}



            {% else %}
                You do not have any subscriptions yet. Subscribe to some today!
            {% endif %}
        </div>
    </div>
</div>
<div class="push"></div>
{% endblock %}
