{% extends "base.html" %}
{% block title %}Manage{% endblock %}
{% block content %}
<div id="alert">
</div>

<div class="panel panel-default">
    <div class="panel-heading">Streams I Own</div>
        <div class="panel-body">
            {% if myStreamList %}
                <form action="/manage" method="post">
                {% for myStream in myStreamList %}
                    <p>
                        <a href="/View_single?streamKey={{myStream.key.urlsafe()}}">
                        {{ myStream.name }}
                        </a>
                        {{ numViews }}
                        <input name="{{myStream.name}}" type="checkbox">
                    </p>
                {% endfor %}
                <input type="submit" value="Delete selected streams">
                </form>
            {% else %}
                You do not have any streams yet. Create some now!
                <button type="submit" onclick="location.href = '/create'">
                    Create Stream
                </button>
            {% endif %}
        </div>
    <div class="panel panel-default">
        <div class="panel-heading">Streams I Subscribe to</div>
        <div class="panel-body">
            {% if subscribeStreamList %}
                <form action="/manage" method="post">
                {% for subscribeStream in subscribeStreamList %}
                    <p> {{ subscribeStream.name }}
                        <input name="{{subscribeStream.name}}" type="checkbox">
                    </p>
                {% endfor %}
                <input type="submit" value="Unsubscribe selected streams">
                </form>
            {% else %}
                You do not have any subscriptions yet. Subscribe to some today!
                <button type="submit" onclick="location.href = '/View_all'">
                    View all streams
                </button>
            {% endif %}
        </div>
    </div>
</div>
<div class="push"></div>
{% endblock %}
