{% extends "base.html" %}
{% block title %}Manage{% endblock %}
{% block content %}
<div id="alert">
</div>

<div class="panel panel-default">
    <div class="panel-heading">Streams I Own</div>
        <div class="panel-body">
            {% if myStreamList %}
                <form action="/manage" method="post">
                {% for myStream in myStreamList %}
                    <p> {{ myStream.name }}
                        <input name="{{myStream.name}}" type="checkbox">
                    </p>
                {% endfor %}
                <input type="submit" value="Delete selected streams">
                </form>
            {% else %}
                You do not have any streams yet. Create some now!
                <button type="submit" onclick="location.href = '/create'">
                    Create Stream
                </button>
            {% endif %}
        </div>
    <div class="panel panel-default">
        <div class="panel-heading">Streams I Subscribe to</div>
        <div class="panel-body">
            {% if subscribeStreamList %}
                {% for subscribeStream in subscribeStreamList %}
                    {{ subscribeStream.name }}
                {% endfor %}
            {% else %}
                You do not have any subscriptions yet. Subscribe to some today!
            {% endif %}
        </div>
    </div>
</div>
<div class="push"></div>
{% endblock %}
