{% extends "base.html" %}
{% block title %}Trending{% endblock %}
{% block content %}

<div class="row">
  {% for stream, numberofview in Streams %}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <a href="/View_single?streamKey={{stream.urlsafe()}}">
        <img src="{{stream.get().coverUrl}}" alt="{{stream.get().name}}">
      </a>
      <div class="caption">
        <h3>{{stream.get().name}}</h3>
        <p>Created by {{stream.get().ownerEmail}}</p>
        <p>Number of Views in the past Hour: {{numberofview}}</p>
      </div>
    </div>
  </div>
  {% endfor %}

  <p>Email trending report</p>
  <form action="/trending" method="post">
    <input type="radio" name="trendRate" value="No report"> No report<br></input>
    <input type="radio" name="trendRate" value="Every 5 minutes"> Every 5 minutes<br></input>
    <input type="radio" name="trendRate" value="Every 1 hour"> Every 1 hour<br></input>
    <input type="radio" name="trendRate" value="Every day"> Every day<br></input>
    <input type="submit" value="Update rate">
  </form>
  {% if updateRateMessage|string() == 'Unavailable' %}
  {% else %}
      <strong>{{ updateRateMessage }}</strong>
  {% endif %}
</div>
{% endblock %}
