{% extends "base.html" %}
{% block title %}View_all{% endblock %}
{% block content %}

<div class="row">
  {% for Stream in Streams %}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <a href="/View_single?streamKey={{Stream.key.urlsafe()}}">
        <img  class="img-responsive" src="{{Stream.coverUrl}}" alt="{{Stream.name}}">
      </a>
      <div class="caption">
        <h3>{{Stream.name}}</h3>
        <p>Created by {{Stream.ownerEmail}}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<br>
<br>
<div class="fb-share-button" data-href="http://connexus-fall15.appspot.com/View_all" data-width="200" data-type="button"></div>
{% endblock %}
